<script>
  import { Component, Mixins } from 'vue-property-decorator'
  import ViewMixin from '@/mixins/ViewMixin'

  import TopbarLogo from '@/components/topbar/TopbarLogo'

  const config = {
    name: 'Feed',
    head () {
      return {
        title: this.$t('global.views.feed.title')
      }
    }
  }

  export default Component({ ...config })(
    class Feed extends Mixins(ViewMixin) {
      created () {
        this.viewMixin_setTopbarComponent({
          component: TopbarLogo,
          data() {
            return {
              title: this.$t('global.views.feed.title')
            }
          }
        })
      }
    }
  )
</script>

<template>
  <div class="v-Feed">
  </div>
</template>

<style lang="scss">

</style>
