@mixin aspectRatio($ratio, $adaptative-height: true) {
  &:before {
    content: "";
    float: left;
    padding-bottom: $ratio;
  }

  @if ($adaptative-height) {
    &:after {
      content: "";
      display: table;
      clear: left;
    }
  }
}
