@mixin respond-to($media) {
  @if $media == 'print' {
    @media print {
      @content;
    }
  } @else if $media == 'retina' {
    @media only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
      @content;
    }
  } @else {
    @each $breakpoint-name, $breakpoint-width in $__breakpoints {
      @if $media == $breakpoint-name {
        @media only screen and(min-width: $breakpoint-width) {
          @content;
        }
      }
    }
  }
}

@function get-breakpoint($breakpoint-name) {
  @return map_get($__breakpoints, $breakpoint-name);
}
