@mixin set-scroll-overflow($args...) {
  -webkit-overflow-scrolling: touch;
  @if ($args != null) {
    @each $arg in $args {
      @if ($arg == y) {
        overflow-y: scroll;
      }
      @if ($arg == x) {
        overflow-x: scroll;
      }
    }
  }
}
