/*
  HOW TO USE :
  ----------------------
  .myElement {
    @include vue-transition((
      'properties': (
        'margin .25s ease',
        'transform .25s linear',
      ),
      'enter': (
        transform: translate3d(100%, 0, 0),
        margin: 0
      ),
      'leave': (
        transform: translate3d(-100%, 0, 0),
        margin: 10px
      )
    ));
  }
  ----------------------
*/

@mixin vue-transition($config) {

  $name: 'is-AnimatingTo';

  @if (map-has-key($config, 'properties') and
       map-has-key($config, 'enter') and
       map-has-key($config, 'leave')) {

    &.#{$name}Prev-enter-active, &.#{$name}Prev-leave-active,
    &.#{$name}Next-enter-active, &.#{$name}Next-leave-active {
      $formatedProps: ();
      @each $value in map-get($config, 'properties') {
        $formatedProps: append($formatedProps, $value, comma);
      }
      transition: #{$formatedProps};
    }

    &.#{$name}Prev-enter,
    &.#{$name}Next-leave-active {
      @each $key, $value in map-get($config, 'enter') {
        #{$key}: #{$value}
      }
    }
    &.#{$name}Prev-leave-active,
    &.#{$name}Next-enter {
      @each $key, $value in map-get($config, 'leave') {
        #{$key}: #{$value}
      }
    }

  } @else {
    @error 'missing argument(s)'
  }
}
