<script>
  import { Vue, Component } from 'vue-property-decorator'

  const config = {
    name: 'Followers',
    head () {
      return {
        title: this.$t('global.views.profilFollowers.title')
      }
    }
  }

  export default Component({ ...config })(
    class Followers extends Vue {
    }
  )
</script>

<template>
  <div class="v-ProfilFollowers">
    <h1>Followers</h1>
  </div>
</template>

<style lang="scss">

</style>
