<script>
  import { Component, Mixins } from 'vue-property-decorator'
  import ViewMixin from '@/mixins/ViewMixin'

  import TopbarTitle from '@/components/topbar/TopbarTitle'

  const config = {
    name: 'Settings',
    head () {
      return {
        title: this.$t('global.views.settings.title')
      }
    }
  }

  export default Component({ ...config })(
    class Settings extends Mixins(ViewMixin) {
      created () {
        this.viewMixin_setTopbarComponent({
          component: TopbarTitle,
          data() {
            return {
              title: this.$t('global.views.settings.title'),
              user: {
                login: 'toto'
              }
            }
          }
        })
      }
    }
  )
</script>

<template>
  <div class="v-Settings">
    <router-link :to="{ name: 'settings-account' }">
      {{$t('global.views.settingsAccount.title')}}
    </router-link>
    <router-link :to="{ name: 'settings-accessibility' }">
      {{$t('global.views.settingsAccessibility.title')}}
    </router-link>
    <router-link :to="{ name: 'settings-blocked-users' }">
      {{$t('global.views.settingsBlockedUsers.title')}}
    </router-link>
    <router-link :to="{ name: 'settings-find-friends' }">
      {{$t('global.views.settingsFindFriends.title')}}
    </router-link>
    <router-link :to="{ name: 'settings-notifications' }">
      {{$t('global.views.settingsNotifications.title')}}
    </router-link>
  </div>
</template>

<style lang="scss">
  .v-Settings {
    display: flex;
    flex-direction: column;
  }

</style>
