<script>
  import { Vue, Component, Prop } from 'vue-property-decorator'

  const config = {
    name: 'TopbarLogo'
  }

  export default Component({ ...config })(
    class TopbarLogo extends Vue {
      @Prop({ type: Function, required: true }) data
    }
  )
</script>

<template>
  <div class="c-TopbarLogo">
    <h1>Logo</h1>
  </div>
</template>

<style lang="scss">
  .c-TopbarLogo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
