<script>
  import { Vue, Component, Prop } from 'vue-property-decorator'

  const config = {
    name: 'TopbarTitle'
  }

  export default Component({ ...config })(
    class TopbarTitle extends Vue {
      @Prop({ type: Function, required: true }) data
    }
  )
</script>

<template>
  <div class="c-TopbarTitle">
    <h1>{{data().title}}</h1>
    <h2 v-if="data().user">@{{data().user.login}}</h2>
  </div>
</template>

<style lang="scss">
  .c-TopbarTitle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
