<script>
  import { Vue, Component, Prop } from 'vue-property-decorator'

  const config = {
    name: 'TopbarSearch'
  }

  export default Component({ ...config })(
    class TopbarSearch extends Vue {
      @Prop({ type: Function, required: true }) data
    }
  )
</script>

<template>
  <form class="c-TopbarSearch">
    <input class="c-TopbarSearch__Textfield" type="text" :placeholder="data().placeholder" />
  </form>
</template>

<style lang="scss">
  .c-TopbarSearch {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .c-TopbarSearch__Textfield {
      width: 100%;
      border: 1px solid lightgrey;
      background: transparent;
      border-radius: 4px;
      font: inherit;
    }
  }
</style>
