<script>
  import { Vue, Component } from 'vue-property-decorator'

  const config = {
    name: 'Following',
    head () {
      return {
        title: this.$t('global.views.profilFollowing.title')
      }
    }
  }

  export default Component({ ...config })(
    class Following extends Vue {
    }
  )
</script>

<template>
  <div class="v-ProfilFollowing">
    <h1>Following</h1>
  </div>
</template>

<style lang="scss">

</style>
