<!DOCTYPE html>
<!--[if IE]>
<html class="no-js ie" lang="fr" dir="ltr" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !IE]> <-->
<html class="no-js" lang="fr" dir="ltr" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>Délectable</title>
  <meta name="description" data-id="description" data-head="true" content="Blablabla" />
  <meta name="keywords" content="Bonne, bouffe, sa, mere" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="referrer" content="always" />
  <base href="<%= BASE_URL %>" />
  <!-- Inject stylesheets -->
  <% for (const path of htmlWebpackPlugin.files.chunks.app.css) { %>
    <link href="<%= path %>" rel="stylesheet" />
  <% } %>
  <!-- Inject chunks -->
  <link href="<%= htmlWebpackPlugin.files.chunks.app.entry %>" rel="preload" as="script" />
  <% for (const path of htmlWebpackPlugin.files.chunks.app.css) { %>
    <link href="<%= path %>" rel="preload" as="style" />
  <% } %>
  <!-- I18n-->
  <link rel="alternate" href="<%= BASE_URL %>" hreflang="x-default" />
  <link rel="alternate" href="<%= BASE_URL %>?hl=fr" hreflang="fr" />
  <link rel="alternate" href="<%= BASE_URL %>?hl=en" hreflang="en" />
  <!-- Manifest -->
  <% if (process.env.NODE_ENV === 'production') { %>
  <link rel="manifest" href="<%= BASE_URL %>manifest.json">
  <% } %>
  <!-- PWA metas-->
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="Délectable" />
  <meta name="apple-application-name" content="Délectable" />
  <meta name="theme-color" content="white" />
  <meta name="msapplication-navbutton-color" content="white" />
  <meta name="apple-mobile-web-app-status-bar-style" content="white" />
  <meta name="msapplication-starturl" content="/?utm_source=pwa" />
  <!-- Navigator icons-->
  <link rel="icon" sizes="16x16" type="image/png" href="<%= BASE_URL %>img/icons/favicon-16x16.png" />
  <link rel="icon" sizes="32x32" type="image/png" href="<%= BASE_URL %>img/icons/favicon-32x32.png" />
  <link rel="icon" sizes="96x96" type="image/png" href="<%= BASE_URL %>img/icons/favicon-96x96.png" />
  <link rel="icon" sizes="128x128" type="image/png" href="<%= BASE_URL %>img/icons/favicon-128x128.png" />
  <link rel="icon" sizes="196x196" type="image/png" href="<%= BASE_URL %>img/icons/favicon-196x196.png" />
  <link rel="mask-icon" color="#fff" href="<%= BASE_URL %>img/icons/mask-icon.svg" />
  <link rel="image_src" href="<%= BASE_URL %>img/icons/app_thumbnail.jpg" />
  <!--[if IE]><link rel="shortcut icon" href="<%= BASE_URL %>img/icons/favicon.ico"><![endif]-->
  <!-- iOs icons-->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= BASE_URL %>img/icons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= BASE_URL %>img/icons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= BASE_URL %>img/icons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= BASE_URL %>img/icons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= BASE_URL %>img/icons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= BASE_URL %>img/icons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= BASE_URL %>img/icons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= BASE_URL %>img/icons/apple-touch-icon-152x152.png" />
  <!-- iOs splashscreens-->
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= BASE_URL %>img/icons/apple-touch-startup-image-640x1136.png" />
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= BASE_URL %>img/icons/apple-touch-startup-image-750x1294.png" />
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="<%= BASE_URL %>img/icons/apple-touch-startup-image-1242x2148.png" />
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="<%= BASE_URL %>img/icons/apple-touch-startup-image-1125x2436.png" />
  <link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= BASE_URL %>img/icons/apple-touch-startup-image-1536x2048.png" />
  <link rel="apple-touch-startup-image" media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= BASE_URL %>img/icons/apple-touch-startup-image-1668x2224.png" />
  <link rel="apple-touch-startup-image" media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)" href="<%= BASE_URL %>img/icons/apple-touch-startup-image-2048x2732.png" />
  <!-- Microsoft icons-->
  <meta name="msapplication-TileImage" content="<%= BASE_URL %>img/icons/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="<%= BASE_URL %>img/icons/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="<%= BASE_URL %>img/icons/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="<%= BASE_URL %>img/icons/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="<%= BASE_URL %>img/icons/mstile-310x310.png" />
</head>
  <body>
    <div id="app"></div>
    <noscript>
      <strong>We're sorry but client.delectable.fr doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <% for (let path of htmlWebpackPlugin.files.js) { %>
      <script src="<%= path %>"></script>
    <% } %>
    <% if (process.env.NODE_ENV === 'production') { %>
      <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
          navigator.serviceWorker.register('<%= BASE_URL %>sw.js')
            .catch(function (e) {
                console.error('ServiceWorker registration failed: ', e)
              }
            )
        })
      }
    </script>
    <% } %>
  </body>
</html>
