<script>
  import { Vue, Component } from 'vue-property-decorator'
  import { Getter, Action } from 'vuex-class'

  const config = {
    name: 'SignIn'
  }

  export default Component({ ...config })(
    class SignIn extends Vue {
      @Getter('account/GET_AUTH_STATUS') authenticationStatus
      @Action('account/SET_AUTH_STATUS') setAuthentication
      login = null
      password = null

      onFormSubmit () {
        this.setAuthentication(true)
        if (this.authenticationStatus) {
          this.$router.push('/')
        }
      }
    }
  )
</script>

<template>
  <div class="v-signin">
    <h1>SignIn</h1>
    <form @submit.prevent="onFormSubmit">
      <div>
        <input type="text" v-model="login" />
      </div>
      <div>
        <input type="password" v-model="password" />
      </div>
      <div>
        <button type="submit">Connexion</button>
      </div>
    </form>
    <div>
      <div><router-link :to="{ name: 'password-forgot' }">Mot de passe oublié ?</router-link></div>
      <div>Pas encore de compte ? — <router-link :to="{ name: 'sign-up' }">Rejoignez-nous</router-link></div>
    </div>
  </div>
</template>

<style lang="scss">

</style>
