<script>
  import { Vue, Component } from 'vue-property-decorator'

  const config = {
    name: 'Feed'
  }

  export default Component({ ...config })(
    class Feed extends Vue {
    }
  )
</script>

<template>
  <div class="v-ProfilFeed">
  </div>
</template>

<style lang="scss">

</style>
