<script>
  import { Component, Mixins } from 'vue-property-decorator'
  import ViewMixin from '@/mixins/ViewMixin'

  import TopbarTitle from '@/components/topbar/TopbarTitle'

  const config = {
    name: 'Notifications',
    head () {
      return {
        title: this.$t('global.views.settingsNotifications.title')
      }
    }
  }

  export default Component({ ...config })(
    class Notifications extends Mixins(ViewMixin) {
      created () {
        this.viewMixin_setTopbarComponent({
          component: TopbarTitle,
          data() {
            return {
              title: this.$t('global.views.settingsNotifications.title'),
              user: {
                login: 'toto'
              }
            }
          }
        })
      }
    }
  )
</script>

<template>
  <div class="v-SettingsNotification">
  </div>
</template>

<style lang="scss">

</style>
