<script>
  import { Component, Mixins } from 'vue-property-decorator'
  import messages from './i18n'
  import ViewMixin from '@/mixins/ViewMixin'

  import TopbarTitle from '@/components/topbar/TopbarTitle'

  const config = {
    name: 'Account',
    i18n: { messages },
    head () {
      return {
        title: this.$t('global.views.settingsAccount.title')
      }
    }
  }

  export default Component({ ...config })(
    class Account extends Mixins(ViewMixin) {
      created () {
        this.viewMixin_setTopbarComponent({
          component: TopbarTitle,
          data() {
            return {
              title: this.$t('global.views.settingsAccount.title'),
              user: {
                login: 'toto'
              }
            }
          }
        })
      }

      switchLocale (locale) {
        if (this.$root.$i18n.locale !== locale) {
          this.$root.$i18n.locale = locale
          this.$router.replace({ query: { hl: locale } })
        }
      }
    }
  )
</script>

<template>
  <div class="v-SettingsAccount">
    <h2>{{$t('languageSection')}}</h2>
    <ul>
      <li>
        <button @click="switchLocale('en')">
          EN
        </button>
      </li>
      <li>
        <button @click="switchLocale('fr')">
          FR
        </button>
      </li>
      <li>
        <button @click="switchLocale('toto')">
          TOTO
        </button>
      </li>
    </ul>
  </div>
</template>

<style lang="scss">

</style>
