$gutter-compensation: $--grid-gutter-width * .5 * -1;
$half-gutter-width: $--grid-gutter-width * .5;

.g-Container {
  max-width: $--width-constrained;
  margin: 0 auto;
  padding-right: $--grid-outer-margin;
  padding-left: $--grid-outer-margin;
}

.g-Container.--Fluid {
  max-width: initial;
  margin-right: auto;
  margin-left: auto;
  padding-right: $--grid-outer-margin;
  padding-left: $--grid-outer-margin;
}

.g-Row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
}

.g-Row.--Reverse {
 flex-direction: row-reverse
}

.g-Col.--Reverse {
  flex-direction: column-reverse
}

@mixin grid-col-common {
  flex-grow: 0;
  flex-shrink: 0;
  padding: $half-gutter-width;
}

$name: Xs;
.g-Col.#{$name} {
  @include grid-col-common;
  flex-basis: auto;
}
@for $i from 1 through $--grid-columns-count {
  .g-Col.--#{$name}#{$i} {
    @include grid-col-common;
    flex-basis: 100% / $--grid-columns-count * $i;
    max-width: 100% / $--grid-columns-count * $i;
  }
}
@for $i from 0 through $--grid-columns-count {
  .g-Col.--#{$name}Offset#{$i} {
    @include grid-col-common;
    @if $i == 0 {
      margin-left: 0;
    } @else {
      margin-left: 100% / $--grid-columns-count * $i;
    }
  }
}
.g-Col.--#{$name} {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.g-Row.--#{$name}Start  {
  justify-content: flex-start;
  text-align: left;
}

.g-Row.--#{$name}Center {
  justify-content: center;
  text-align: center;
}

.g-Row.--#{$name}End  {
  justify-content: flex-end;
  text-align: right;
}

.g-Col.--#{$name}Top  {
  align-items: flex-start;
}

.g-Col.--#{$name}Middle {
  align-items: center;
}

.g-Col.--#{$name}Bottom {
  align-items: flex-end;
}

.g-Col.--#{$name}Around {
  justify-content: space-around;
}

.g-Col.--#{$name}Between {
  justify-content: space-between;
}

.g-Col.--#{$name}First {
  order: -1;
}

.g-Col.--#{$name}Last {
  order: 1;
}


@each $breakpoint in $__grid-breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  $container: nth($breakpoint, 3);
  @media only screen and (min-width: $size) {
    .g-Col.--#{$name} {
      @include grid-col-common;
      flex-basis: auto;
    }
    @for $i from 1 through $--grid-columns-count {
      .g-Col.--#{$name}#{$i} {
        @include grid-col-common;
        flex-basis: 100% / $--grid-columns-count * $i;
        max-width: 100% / $--grid-columns-count * $i;
      }
    }
    @for $i from 0 through $--grid-columns-count {
      .g-Col.--#{$name}Offset#{$i} {
        @include grid-col-common;
        @if $i == 0 {
          margin-left: 0;
        } @else {
          margin-left: 100% / $--grid-columns-count * $i;
        }
      }
    }
    .g-Col.--#{$name} {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }

    .g-Row.--#{$name}Start  {
      justify-content: flex-start;
      text-align: left;
    }

    .g-Row.--#{$name}Center {
      justify-content: center;
      text-align: center;
    }

    .g-Row.--#{$name}End  {
      justify-content: flex-end;
      text-align: right;
    }

    .g-Col.--#{$name}Top  {
      align-items: flex-start;
    }

    .g-Col.--#{$name}Middle {
      align-items: center;
    }

    .g-Col.--#{$name}Bottom {
      align-items: flex-end;
    }

    .g-Col.--#{$name}Around {
      justify-content: space-around;
    }

    .g-Col.--#{$name}Between {
      justify-content: space-between;
    }

    .g-Col.--#{$name}First {
      order: -1;
    }

    .g-Col.--#{$name}Last {
      order: 1;
    }
  }
}
