<script>
  import { Vue, Component } from 'vue-property-decorator'

  const config = {
    name: 'Minimal'
  }

  export default Component({ ...config })(
    class DefaultTopbar extends Vue {
    }
  )
</script>

<template>
  <div class="l-Minimal">
    <slot name="router-view" />
  </div>
</template>

<style lang="scss">
</style>
