<script>
  import { Component, Mixins } from 'vue-property-decorator'
  import ViewMixin from '@/mixins/ViewMixin'

  import TopbarTitle from '@/components/topbar/TopbarTitle'

  const config = {
    name: 'FindFriends',
    head () {
      return {
        title: this.$t('global.views.settingsFindFriends.title')
      }
    }
  }

  export default Component({ ...config })(
    class FindFriends extends Mixins(ViewMixin) {
      created () {
        this.viewMixin_setTopbarComponent({
          component: TopbarTitle,
          data() {
            return {
              title: this.$t('global.views.settingsFindFriends.title'),
              user: {
                login: 'toto'
              }
            }
          }
        })
      }
    }
  )
</script>

<template>
    <div class="v-SettingsFindFriends">
    </div>
</template>

<style lang="scss">

</style>
