<script>
  import { Vue, Component } from 'vue-property-decorator'

  const config = {
    name: 'SignUp'
  }

  export default Component({ ...config })(
    class SignUp extends Vue {
      firstname = null
      lastname = null
      email = null
      login = null
      password = null
      password_confirmation = null
    }
  )
</script>

<template>
  <div>
    <h1>SignUp</h1>
    <form @submit.prevent="onFormSubmit">
      <div>
        <label for="firstname">Fistname</label>
        <input type="text" id="firstname" v-model="firstname" />
      </div>
      <div>
        <label for="lastname">Lastname</label>
        <input type="text" id="lastname" v-model="lastname" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" v-model="email" />
      </div>
      <div>
        <label for="login">Login</label>
        <input type="text" id="login" v-model="login" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" v-model="password" />
      </div>
      <div>
        <label for="password_confirmation">Password Confirmation</label>
        <input type="password" id="password_confirmation" v-model="password_confirmation" />
      </div>
      <div>
        <button type="submit">S'incrire</button>
      </div>
    </form>
    <div>
      <div>Vous possèdez déjà un compte ? — <router-link :to="{ name: 'sign-in' }">Connectez-vous</router-link></div>
    </div>
  </div>
</template>

<style lang="scss">

</style>
