<script>
  import { Vue, Component } from 'vue-property-decorator'

  const config = {
    name: 'PasswordForgot'
  }

  export default Component({ ...config })(
    class PasswordForgot extends Vue {
      mail = null
    }
  )
</script>

<template>
  <div>
    <h1>PasswordForgot</h1>
    <form @submit.prevent="onFormSubmit">
      <div>
        <input type="text" v-model="mail" />
      </div>
      <div>
        <button type="submit">Envoyer</button>
      </div>
    </form>
  </div>
</template>

<style lang="scss">

</style>
