<script>
  import { Vue, Component } from 'vue-property-decorator'

  import { DEFAULT_LOCALE } from '@/i18n'
  import { DEFAULT_LAYOUT, MINIMAL_LAYOUT } from '@/layouts'

  // import layouts here
  import Default from '@/layouts/default/Default'
  import Minimal from '@/layouts/minimal/Minimal'

  const config = {
    name: 'App',
    components: {
      [DEFAULT_LAYOUT]: Default,
      [MINIMAL_LAYOUT]: Minimal
    },
    head () {
      return {
        titleTemplate: '%s – Délectable',
        htmlAttrs: {
          // set locale reactivity on the html lang attribute
          lang: this.$i18n.locale
        }
      }
    }
  }

  export default Component({ ...config })(
    class App extends Vue {
      isLoading = true

      mounted () {
        // define the app locale
        this.defineLocale()
        // simulate a promise…
        setTimeout(() => {
          this.isLoading = false
        }, 2500)
      }

      // Define the user locale when the app is mounted
      // (user agent language or "en" by default)
      defineLocale () {
        const routeLocale = this.$route.query.hl
        this.$i18n.locale = routeLocale || DEFAULT_LOCALE
      }

      // Compute the layout configured in router
      // ("DefaultLayout" by default)
      get definedLayout () {
        return this.$route.meta.layout || DEFAULT_LAYOUT
      }
    }
  )

</script>

<template>
  <div class="App" id="app">
    <component class="App__LayoutContainer" :is="definedLayout">
      <template slot="router-view">
        <router-view />
      </template>
    </component>
  </div>
</template>

<style lang="scss">
  // NOTE : all sass abstract are auto-injected on all SASS files

  // import the bases styles
  @import "~@/assets/styles/bases/reset";
  @import "~@/assets/styles/bases/preset";
  @import "~@/assets/styles/grid/grid";

  .App {
    position: relative;
    height: 100%;

    .App__LayoutContainer {
      position: relative;
      height: 100%;
    }
  }
</style>
