// README !
// All variables prefixed by $__ are private and should be used into functions, mixins…
// All variables prefixed by $-- are public and can be used into stylesheets…

// Layout
$--column-gutter-width: 24px;
$--app-topbar-height: 68px;
$--app-navbar-height: 52px;

$--grid-columns-count: 12;
$--grid-gutter-width: 24px;
$--grid-outer-margin: 24px;

$__breakpoints: (
  mobile-large: 480px,
  tablet-portrait: 600px,
  tablet-landscape: 900px,
  desktop-small: 1024px,
  desktop-normal: 1290px,
  desktop-large: 1600px,
);

$__grid-breakpoints:
  Sm 600px 480px,
  Md 1024px 601px,
  Lg 1600px 1025px;

$--width-constrained: map-get($--breakpoints, desktop-normal);

$__z-indexes: (
  notification: 3200,
  modal: 1600,
  overlay: 800,
  layout: 400,
  special-case: 200,
  dropdown: 100,
  standard: 0
);

$--default-transition-duration: 250ms;

//Typography
$--font-stack-sans-serif:
  "Quattrocento Sans", "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, sans-serif;
$--font-stack-serif:
  "Quattrocento", Garamond, "Apple Garamond", "Century Schoolbook", "Century Schoolbook L", Georgia,  serif;

