*::-webkit-scrollbar {
  display: none;
  width: 0;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-kerning: auto;
}

body {
  font-family: var(--sansSerifFontStack);
  font-size: 16px;
  line-height: 1.65;
  font-weight: 400;
  background-color: var(--backgroundColor);
  color:var(--onBackgroundColor);
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  vertical-align: bottom;
}

input, button {
  &:focus {
    outline: 0;
  }
}

.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}

strong {
  font-weight: bold;
}

p {
  margin: $--column-gutter-width 0;

}

p + p {
  margin-top: 0;
}
