<script>
  import { Component, Mixins } from 'vue-property-decorator'
  import ViewMixin from '@/mixins/ViewMixin'

  import TopbarTitle from '@/components/topbar/TopbarTitle'

  const config = {
    name: 'Profil',
    head () {
      return {
        title: this.$route.params.slug
      }
    }
  }

  export default Component({ ...config })(
    class Profil extends Mixins(ViewMixin) {
      created () {
        this.viewMixin_setTopbarComponent({
          component: TopbarTitle,
          data() {
            return {
              title: this.$route.params.slug
            }
          }
        })
      }
    }
  )
</script>

<template>
  <div class="v-Profil">
    <ul>
      <li>
        <router-link :to="{ name: 'profil-feed' }">Feed</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'profil-followers' }">Followers</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'profil-following' }">Following</router-link>
      </li>
    </ul>
    <router-view />
  </div>
</template>

<style lang="scss">

</style>
