<script>
  import { Component, Mixins } from 'vue-property-decorator'
  import ViewMixin from '@/mixins/ViewMixin'

  import TopbarSearch from '@/components/topbar/TopbarSearch'

  const config = {
    name: 'Search',
    head () {
      return {
        title: this.$t('global.views.search.title')
      }
    }
  }

  export default Component({ ...config })(
    class Search extends Mixins(ViewMixin) {
      created () {
        this.viewMixin_setTopbarComponent({
          component: TopbarSearch,
          data() {
            return {
              placeholder: this.$t('global.views.search.searchInputPlaceholder')
            }
          }
        })
      }
    }
  )
</script>

<template>
  <div class="v-Search">
  </div>
</template>

<style lang="scss">

</style>
