<script>
  import { Vue, Component } from 'vue-property-decorator'

  import DefaultTopbar from './DefaultTopbar'
  import DefaultContent from './DefaultContent'
  import DefaultNavbar from './DefaultNavbar'

  const config = {
    name: 'Default',
    components: {
      'default-topbar': DefaultTopbar,
      'default-content': DefaultContent,
      'default-navbar': DefaultNavbar
    }
  }

  export default Component({ ...config })(
    class Default extends Vue {}
  )
</script>

<template>
  <div class="l-DefaultLayout">
    <div class="l-DefaultLayout__Navbar">
      <default-navbar />
    </div>
    <div class="l-DefaultLayout__Topbar">
      <default-topbar />
    </div>
    <div class="l-DefaultLayout__Content">
      <default-content>
        <slot name="router-view" />
      </default-content>
    </div>
  </div>
</template>

<style lang="scss">
  .l-DefaultLayout {
    position: relative;
    height: 100%;

    .l-DefaultLayout__Navbar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 56px;
      background: white;
      z-index: z(layout);
    }

    .l-DefaultLayout__Topbar {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 48px;
      background: white;
      z-index: z(layout);
    }

    .l-DefaultLayout__Content {
      position: relative;
      height: 100%;
    }
  }
</style>
