<script>
  import { Vue, Component } from 'vue-property-decorator'

  const config = {
    name: 'DefaultContent'
  }

  export default Component({ ...config })(
    class DefaultContent extends Vue {}
  )
</script>

<template>
  <div class="l-DefaultLayoutContent">
    <slot />
  </div>
</template>

<style lang="scss">
  .l-DefaultLayoutContent {
    padding: 48px 0 56px 0;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
  }
</style>
