<script>
  import { Vue, Component } from 'vue-property-decorator'

  const config = {
    name: 'DefaultNavbar'
  }

  export default Component({ ...config })(
    class DefaultNavbar extends Vue {}
  )
</script>

<template>
  <nav class="l-DefaultLayoutNavbar">
    <ul class="l-DefaultLayoutNavbar__List">
      <li class="l-DefaultLayoutNavbar__ListItem">
        <router-link class="l-DefaultLayoutNavbar__ListItemLink"
                     :to="{ name: 'feed' }">
          {{$t('global.views.feed.title')}}
        </router-link>
      </li>
      <li class="l-DefaultLayoutNavbar__ListItem">
        <router-link class="l-DefaultLayoutNavbar__ListItemLink"
                     :to="{ name: 'explore' }">
          {{$t('global.views.explore.title')}}
        </router-link>
      </li>
      <li class="l-DefaultLayoutNavbar__ListItem">
        <button class="l-DefaultLayoutNavbar__ListItemLink">
          {{$t('global.components.addRecipe.title')}}
        </button>
      </li>
      <li class="l-DefaultLayoutNavbar__ListItem">
        <router-link class="l-DefaultLayoutNavbar__ListItemLink"
                     :to="{ name: 'notifications' }">
          {{$t('global.views.notifications.title')}}
        </router-link>
      </li>
      <li class="l-DefaultLayoutNavbar__ListItem">
        <router-link class="l-DefaultLayoutNavbar__ListItemLink"
                     :to="{ name: 'search' }">
          {{$t('global.views.search.title')}}
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<style lang="scss">
  .l-DefaultLayoutNavbar {
    height: 100%;
    border-top: 1px solid lightgrey;

    .l-DefaultLayoutNavbar__List {
      display: flex;
      flex-direction: row;
      height: 100%;
    }
    .l-DefaultLayoutNavbar__ListItem {
      display: flex;
      flex-direction: row;
      height: 100%;
      flex: 1;
    }

    .l-DefaultLayoutNavbar__ListItemLink {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
</style>
