<script>
  import { Vue, Component } from 'vue-property-decorator'
  import { Getter } from 'vuex-class'

  const config = {
    name: 'DefaultTopbar'
  }

  export default Component({ ...config })(
    class DefaultTopbar extends Vue {
      @Getter('ui/GET_TOPBAR_COMPONENT') topbarComponent
    }
  )
</script>

<template>
  <div class="l-DefaultLayoutTopbar">
    <div class="l-DefaultLayoutTopbar__Item --AlignLeft">
      <router-link :to="{ name: 'profil-feed', params: { slug: 'toto' } }">
        {{$t('global.views.profil.title')}}
      </router-link>
    </div>
    <div class="l-DefaultLayoutTopbar__Title">
      <component v-if="topbarComponent"
                 :is="topbarComponent.component"
                 :data="topbarComponent.data" />
    </div>
    <div class="l-DefaultLayoutTopbar__Item --AlignRight">
      <router-link :to="{ name: 'settings' }">
        {{$t('global.views.settings.title')}}
      </router-link>
    </div>
  </div>
</template>

<style lang="scss">
  .l-DefaultLayoutTopbar {
    display: flex;
    flex-direction: row;
    height: 100%;
    border-bottom: 1px solid lightgrey;

    .l-DefaultLayoutTopbar__Item {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;

      &.--AlignLeft {
        justify-content: flex-start;
      }

      &.--AlignRight {
        justify-content: flex-end;
      }
    }

    .l-DefaultLayoutTopbar__Title {
      text-align: center;
      height: 100%;
      display: flex;
      align-items: center;
      flex: 2;
    }

  }
</style>
